<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        @RenderBody()
        <footer style="text-align: center">
            <a href="https://github.com/MakiseKurisu/Active-Directory-Self-Service">View on GitHub</a>
        </footer>
    </div>

    <script src="@Url.Content("~/Content/js/jquery-2.2.4.min.js")"></script>
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
</body>

</html>